*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1%;
  padding: 1%;
  background-color: rgb(255, 225, 242);
}

html {
  font-size: 14px;
  min-height: 100%;
}
a{
  margin-left: -1%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
header img{
  border-radius: 50%;
  height: 10%;
  width: 10%;
  float: left;
  margin-top: 1%;
}
header h1{
  float: left;
  font-size: 7ex;
  margin-left: 1%;
  border-radius: 15px;
}
header p{
  clear: both;
  border-radius: 15px;
}

header{
  background-color: rgb(252, 147, 182);
  border-radius: 15px;
}
div{
  background-color: rgb(239, 200, 255);
  border-radius: 15px;
  margin-top: 2%;
  clear: both;
}

div img{
height: 500px;
width: 500px;
}

div h3{
  font-size: 3ex;
  clear:both;
}
a:hover {
  color: plum;
}

div a{
  margin-left: -1%;
}
body {
  margin: 10px;
  padding: 10px;
}

h5{
  font-size: 5ex;
  display: inline-block;
  background-color: rgb(255, 225, 242);
  clear:both;  
  margin-right: 80%;
}
h2{
  font-size: 3ex;
}
h3{
  font-size: 2ex;
  clear:both;
}
div h4{
  color: plum
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}